{% extends 'base.html.twig' %}

{% block title %}Hello BatimentController!{% endblock %}

{% block body %}
    <div class="container w-100 bg-dark p-3 mt-5 text-white rounded">
        <div class="row justify-content-center"><h3>Enregistrement Batiment <i class="fa fa-building" aria-hidden="true"></i></h3></div>
        {{form_start(form)}}
        {{form_row(form.numBatiment)}}
        <button type="submit" class="btn btn-outline-dark">Enregistrer</button>

        {{form_end(form)}}
    </div>


{% endblock %}
